# ignore everything
/*
/*/

# ... but these:
!/.gitignore
!/README.md
!/S1/
/S1/*
!/S1/JPSC/
/S1/JPSC/*
!/S1/JPSC/*.ass
!/S1/JP/
/S1/JP/*
!/S1/JP/*.ass
!/S2/
/S2/*
!/S2/JPSC/
/S2/JPSC/*
!/S2/JPSC/*.ass
!/S2/JP/
/S2/JP/*
!/S2/JP/*.ass
!/S3/
/S3/*
!/S3/JPSC/
/S3/JPSC/*
!/S3/JPSC/*.ass
!/S3/JP/
/S3/JP/*
!/S3/JP/*.ass
!/S4/
/S4/*
!/S4/JPSC/
/S4/JPSC/*
!/S4/JPSC/*.ass
!/S4/JP/
/S4/JP/*
!/S4/JP/*.ass
!/MOVIE/
/MOVIE/*
!/MOVIE/JPSC/
/MOVIE/JPSC/*
!/MOVIE/JPSC/*.ass
!/MOVIE/JP/
/MOVIE/JP/*
!/MOVIE/JP/*.ass
!/SP/
/SP/*
!/SP/JPSC/
/SP/JPSC/*
!/SP/JPSC/*.ass
!/SP/JP/
/SP/JP/*
!/SP/JP/*.ass
!/fonts/
/fonts/*
!/fonts/*.otf
!/fonts/*.ttf